ana==0.3
angr==7.7.9.21
archinfo==7.7.9.14
bintrees==2.0.7
bitstring==3.1.5
cachetools==2.0.1
capstone==3.0.4
cffi==1.11.2
claripy==7.7.9.21
cle==7.7.9.21
cooldict==1.2
decorator==4.1.2
dpkt-fix==1.7
future==0.16.0
futures==3.1.1
idalink==0.11
mulpyplexer==0.8
namedlist==1.7
networkx==1.11
pefile==2017.9.3
plumbum==1.6.3
progressbar==2.3
pycparser==2.18
pyelftools==0.24
pygit==0.1
Pympler==0.5
pyvex==7.7.9.14
rpyc==3.4.4
sortedcontainers==1.5.7
unicorn==1.0.1
z3-solver==4.5.1.0.post2
